* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  position: relative;
}
.container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

.btn {
  font-size: 2rem;
  border: none;
  display: inline-block;
  padding: 2rem 3rem;
  font-weight: 600;
  border-radius: 10rem;
  margin: 5rem 2rem;
  cursor: pointer;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.11);
}

.hidden {
  display: none;
}
.modal {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 4rem 6.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  border-radius: 1rem;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.modal h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.modal p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #828181;
}

.modal button {
  font-size: 4.5rem;
  border: none;
  background-color: #fff;
  position: absolute;
  right: 3rem;
  top: 0.7rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(3px);
  z-index: 5;
}
